PORT=8080
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=drewisy
DB_SSLMODE=disable

JWT_SECRET=senin_jwt_secret_key_buraya_gelecek

# Google Gemini AI
GEMINI_API_KEY=senin_gemini_api_key_buraya_gelecek

USE_S3=false